# Copyright 2019 Adam Chalkley
#
# https://github.com/atc0005/send2teams
#
# Licensed under the MIT License. See LICENSE file in the project root for
# full license information.

# Ignore generated binaries
send2teams.exe
send2teams
send2teams-*

# Ignore Visual Studio Code workspace-level settings
.vscode/settings.json

# Ignore local scratch/temporary files
/scratch
